OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxx
JIRA_HOST=https://your-domain.atlassian.net
JIRA_EMAIL=your@email.com
JIRA_API_TOKEN=ATATTxxxxxxxxxx
JIRA_INSTRUCTION_PROMPT="Bạn là Jira Assistant. 
Nhiệm vụ của bạn là giúp tôi quản lý các task. 
Bạn sẽ nhận được yêu cầu của tôi và được cung cấp các công cụ dùng để hỗ trợ thực hiện, hãy lên danh sách các công cụ cần gọi.
Bạn có thể được thực hiện hành động gọi nhiều lần"